{{#paper-toolbar}}
	<div class="md-toolbar-tools">
		<span>Dentone Addressbook v2</span>
		{{#paper-button onClick=(action attrs.transitionTo 'addresses')}}Addresses{{/paper-button}}
	</div>
{{/paper-toolbar}}