<h1>New Address</h1>

<form {{action 'createAddress' on="submit"}}>
<dl>
<dt>Addressee:<br> {{input name="addressee" value=addressee}}</dt>
<dt>Zip / Postcode / Postal Code:<br> {{input name="zip" value=zip}}</dt>
</dl>
<button type="submit" class="btn btn-primary">Add address</button>
</form>

{{outlet}}
