<p>loaded addresses.hbs</p>

<table style="border: 1px solid #444;">
	<tr>
		<th>addressee</th>
		<th>zip</th>
	</tr>

{{#each model as |address|}}
	{{#if address.isActive}}
	<tr>
		<td>{{#link-to 'address' address}}{{address.addressee}}{{/link-to}}</td>
		<td>{{address.zip}}</td>
		<td><button {{action "deactivateAddress" address}}>x</button></td>
	</tr>
	{{/if}}
{{/each}}

</table>

{{outlet}}
