  <div class="row row-offcanvas row-offcanvas-left">
    
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
			<li>{{#link-to 'application'}}home{{/link-to}}</li>
			<li>{{#link-to 'addresses'}}addresses{{/link-to}}</li>
			<li>{{#link-to 'addresses.new'}}new address{{/link-to}}</li>
        </ul>
    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9">

{{outlet}}
      
    </div><!-- /.col-xs-12 main -->
</div><!--/.row-->





